
div.select-language{
    align-items: center;
    gap: var(--padding-small);
    border: 1px solid var(--border-color-gray);
    border-radius: var(--border-radius-medium);
    position: relative;
    height:40px;

    &:hover{
        background-color: var(--background-color-main-hover);
    }

    div.language-options{
        position: absolute;
        top: 120%;
        left: 0;
        box-shadow: var(--box-shadow-first);
        z-index: 10;
    }
}