div.content-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-large);


    div.avatar-image{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--background-color-green-yellow);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.avatar-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--padding-medium);
    }
}