div.content-objects{
    display: grid;
    grid-template-columns: 30% 40% 28%;
    grid-template-rows: 30% 10% 5% 20% 5%;
    margin-top: 300px;
    .object-1{

        div.image > img {
            width: 160%;
        }
    }

    .object-2{
        grid-row: span 2;

        div.image > img {
            width: 80%;
        }
    }

    .object-3{
        grid-row: span 2;
        margin-top: -40px;

    }

    .object-4{
        grid-row: span 4;

        div.image > img {
            width: 160%;
        }
    }

    .object-5 {
        grid-row: span 2;
    }

    .object-6 {
        grid-row: span 3;

        div.image > img {
            width: 170%;
            padding-left: var(--padding-large);
        }
    }
}
