div.content-objects{
    display: grid;
    grid-template-columns: 30% 40% 28%;
    grid-template-rows: 35% 10% 5% 20% 5%;
    .object-1{

        div.image > img {
            width: 160%;
        }
    }

    .object-2{
        grid-row: span 2;

        div.image > img {
            width: 80%;
        }
    }

    .object-3{
        grid-row: span 2;
        margin-top: -40px;

    }

    .object-4{
        grid-row: span 4;

        div.image > img {
            width: 160%;
        }
    }

    .object-5 {
        grid-row: span 2;
    }

    .object-6 {
        grid-row: span 3;

        div.image > img {
            width: 170%;
            padding-left: var(--padding-large);
        }
    }
}

/* Media queries */

@media (max-width: 900px) {
    div.content-objects{
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;

        .object-1,
        .object-2,
        .object-3,
        .object-4,
        .object-5,
        .object-6 {
            width: 100%;
            height: 300px;

            div.image > img{
                width: 70%;
            }

        }

        .object-2{
            margin-bottom: var(--padding-extra-extra-large);
            div.image > img{
                width: 50%;
                margin-top: -10%;
            }
        }

        .object-3{
           div.image > img{
            margin-top: -10%;
            width: 50%;
           } 
        }
    }
}