/* Displays flex ------------------*/

.display-flex {
    display: flex;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-flex-space-between  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-small);
}

.display-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-small);
}

/* Gaps ------------------*/

.gap-small{
    gap: var(--padding-small);
}

.gap-medium{
    gap: var(--padding-medium);
}
.gap-large{
    gap: var(--padding-large);
}


/* Paddings  ------------------*/

.padding-small {
    padding: var(--padding-small);
}

.padding-medium{
    padding: var(--padding-medium);
}

.padding-large{
    padding: var(--padding-large);
}

/* Border radius ------------------*/


.border-radius-medium{
    border-radius: var(--border-radius-medium);
}

.border-radius-small{
    border-radius: var(--border-radius-small);
}

.border-radius-large{
    border-radius: var(--border-radius-large);
}

/* Colors ------------------*/


.color-text-black{
    color: var(--color-text-black);
}

.color-text-white{
    color: var(--color-text-white);
}

.color-text-green{
    color: var(--color-text-green);
}

.color-text-greenyellow{
    color: var(--color-text-green-yellow);
}
.hover-color-text-green {
    &:hover{
        color: var(--color-text-green);
    }
}

.hover-color-text-greenyellow {
    &:hover{
        color: var(--color-text-green-yellow);
    }
}

/* Fonts ------------------*/


.font-main{
    font-family: var(--font-neulis);
}

.background-color-main{
    background-color: var(--background-color-main);
}
.background-color-green-yellow{
    background-color: var(--background-color-green-yellow);
} 

.background-color-white{
    background-color: var(--background-color-white);
}

.background-color-green{
    background-color: var(--background-color-green);   
}

.border-none{
    border: none;
}

@for $i from 1 through 10 {
    .width-pc-#{$i * 10} {
        width: $i * 10%;
    }
}

@for $i from 1 through 10 {
    .width-px#{$i * 10} {
        width: $i * 10px;
    }
}

@for $i from 1 through 10 {
    .height-#{$i * 10} {
        height: $i * 10px;
    }
}

@for $i from 1 through 10 {
    .height-#{$i * 10} {
        height: $i * 10%;
    }
}


.cursor-pointer{
    cursor: pointer;
}


.text-decoration-none{
    text-decoration: none;
}