div.role{
    border-radius: var(--border-radius-medium);
    padding: var(--padding-small);
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--border-color-gray);
}