section.section-search{

    div.search-title{

        div.title-cards{
            display: flex;
            gap: var(--padding-extra-large);
            flex-wrap: wrap;
        }
    }
}


/** Media queries **/

@media (max-width: 900px) {
    section.section-search{
        div.search-title{
            div.title-cards{
                justify-content: center;
            }
        }
    }
}