div.object {
    cursor: pointer;
    transition: transform .3s ease-in-out,
    opacity .3s ease-in-out;

    h3{
        font-family: var(--font-clash-display-medium);
    }

    &:hover{
        opacity: .9;
        transform: scale(1.02);

        div.image > img{
            transform: scale(1.02);
            margin-top: -20%;
        }
    }

    div.image{
        width: 100%;   
        height: 90%; 

        img{
            width: 130%;
            transition: transform .3s ease-in-out,
                        margin-top .3s ease-in-out;
        }
    }
}