div.object {

    div.image{
        width: 100%;   
        height: 90%; 

        img{
            width: 130%;
            transition: transform .3s ease-in-out,
                        opacity .3s ease-in-out;
            cursor: pointer;

            &:hover{
                opacity: .7;
                transform: scale(1.05);
            }
        }
    }
}