div.content-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding-large);

    form.form {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: var(--padding-medium);

        div.form-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        span.dont-have{
            text-align: center;
        }

        div.form-buttons{
            margin-top: var(--margin-medium);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--padding-large);
        }

        div.form-links{
            display: flex;
            justify-content: center;
            margin-top: var(--margin-medium);
            .link{
                text-decoration: none;
                span{
                    color: var(--color-text-green);
                }
            }
        }
    }
}