
div.section-home{
    margin-top: 80px;
}
p.paragraph{
    font-size: 1.2rem;
}

div.image-home{
    position: relative;
    img{
        width: 115%;
        position: absolute;
        margin-top: calc(var(--margin-extra-large) * 2.6);
        cursor: pointer;
        transition: transform .3s ease-in-out;

        &:hover{
            opacity: .9;
            transform: scale(1.05);
        }
    }
}