div.content-lostObjects{
    background-color: var(--background-color-black);
    color: var(--color-text-greenyellow);
    padding: calc(var(--padding-extra-large) * 4) var(--padding-extra-extra-large);
    border-radius: var(--border-radius-medium);
    display: flex;
    justify-content: space-between; 
    color: var(--background-color-green-yellow);

    div.object-left{
        width: 40%;

        hr{
            border: none;
            border-bottom: 5px solid var(--background-color-green-yellow);
            border-radius: var(--border-radius-medium);
            width: 20%;
            margin-left: 0%;
        }

        p.objects-paragraph{
            width: 80%;
        }

    }

    div.object-right{ 
        margin-right: 100px;  

        ul.right-list{
            padding-left: 0;
        }
    }
}