header.header{
    padding: var(--padding-medium);

    div.header-sandwitch{
        display: none;
        
        .sandwitch-icon{
            cursor: pointer;
            font-size: 1.3rem;
        }

    }
}

/* Media queries **/

@media (max-width: 900px) {
}